:root {
    /* Override defaults (css variables of webc-<component>) */

    --webc-app-menu-mode: horizontal;
}

webc-page {
    display: block;
    padding: 1rem;
}

.calculator-wrapper {
    background-color: darkslategrey;
    border: thin darkslategrey;
    border-radius: 10px;
    padding: 20px;
}

.screen-wrapper {
    background-color: darkseagreen;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    font-family: inherit;
    text-align: right;
    padding-right: 1%;
    font-size: 24px;
}

.board-wrapper{
    margin-top:5px;
}

.board-wrapper button {
    background-color: var(--webc-third-background);
    background-color: lightgrey;
    border-radius: 4px;
    font-size: 24px;
    padding: 0;
}

.history-wrapper {
    background-color: darkseagreen;
    border-radius: 10px;
    font-size: 24px;
    padding: 0;
    overflow:auto;
    height:250px;
}

.history-wrapper p {
    padding: 0;
    margin:0;
    cursor: default;
}